.experience-page {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
}

@media (max-width: 768px) {
    .experience-page {
        height: auto;
        padding-bottom: 50px;
    }
}